html {
    height: 99%;
}

body {
    --color-grey: rgb(61, 60, 83);
    --color-grey-text: rgb(136, 136, 153);
    --color-red: rgb(237, 61, 61);

    height: 100%;
    margin: 0;
    padding: 0;
    
    background-color: var(--color-grey);
    font-family: Monteserrat;
    font-size: 18px;
    color: white;
}

body > header {
    height: 8%;
    min-height: 8%;
    margin: 10px 0px;
    border-bottom: solid 2px var(--color-red);
}

body > header ul {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 30px;
    padding: 0;
}

body > header > ul * {
    height: 90%;
}

body > header li {
    display: inline;
    margin: 0 8px;
}

body > header li:first-child {
    flex-grow: 2;
    padding-left: calc(50% - 85px);
}

#main {
    height: 75%;

    display: grid;
    grid-template-columns: [start] 1fr [sidebar] 2fr [photo] 2fr [end];
}

#main > * {
    justify-self: center;
    align-self: center;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#sidebar > a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;

    flex-grow: 1;
    padding: 10px 0;

    border-bottom: solid 1px var(--color-red);
}

#main > form > label {
    visibility: hidden;
}

#main > form input {
    visibility: visible;
    display: block;
}

body > footer {
    width: 100%;

    position: absolute;
    left: 0;
    bottom: 10px;

    text-align: center;
}