form:not(.whiteBack){
    margin-top: 1em;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
}

form input{
    text-align: center;

    margin:0.5em;
    padding: 0.5em 1em 0.5em 1em;
    width: 22em;
    height: 3em;
    border:none;
}

form input::placeholder{
    color: var(--color-grey-text);
    text-align: center;
}

form input[type="submit"]{
    background-color: var(--color-red);
    color: white;
    border:none;
}


#search-form{
    align-self: flex-end;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    -webkit-transition: visibility 0s, opacity 0.5s linear;

    flex-direction: column;
    position: fixed;
    top: 5em;
    right: 0;
    z-index: 9;

    background-color: white;
    box-shadow: 0 6px 10px rgba(0,0,0,0.19), 0 2px 6px rgba(0,0,0,0.23);
    /* border: solid 1px black; */
    padding: 1.5em;
}

#search-form label {
    display: block;
    color: var(--color-grey-text);
}

#search-form input {
    display: block;

    margin: 0.5em 0;

    box-shadow: none;
    transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
}

#search-form input:hover, #search-form input:focus {
    box-shadow: 0 2px 3px rgba(0,0,0,0.19), 0 1px 2px rgba(0,0,0,0.23);
}

input[type="date"]::-webkit-inner-spin-button{
    display: none;
    -webkit-appearance: none;
}

.whiteBack input:not([type="submit"]){
    border: solid 1px rgba(0, 0, 0, 0.322);
}

@media only screen and (max-width: 800px) {
    form input{
        width: 18em;
        height: 2.5em;
    }
}