body {
    background-color: #3d3c53;

}

body > div{
    margin: 4em 2em 2em 2em;
    display: flex;
    align-items: center;
}

#loginMain, #loginImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
}

#loginMain > #firstSentence{
    padding-left: 1em;
    font-size: 15pt;
} 

#loginMain > #firstSentence span{
    padding-top: 0.5em;
    padding-left: 3em;
}

#loginMain > #firstSentence a{
    font-weight: bold;
    font-size: 18pt;
}

#loginMain > #else a{
    font-weight: bold;
}

#loginMain > #else{
    padding: 1em 2em 2em 2em;
    font-size: 10pt;
} 

form{
    display: block;
    margin-left:4em;
    margin-right:4em;
    margin-top:1em;
    margin-bottom:1em;
}

#username, #password{
    margin-top: 1em;
    padding: 0.5em;
    width: 95.5%;
    height: 20%;
    border:none;
}

#submit{
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
    height: 32.5%;
    background-color: #ed3d3d;
    color: white;
    border:none;
}

#loginMain p, #loginMain a{
    color: white;
    text-decoration: none;
}

#loginMain p, #loginMain p span{
    display:block;
}