#main{
    display: flex;
}

#sidebar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-basis: 20%;
}

#sidebar > a {
    color: var(--color-grey);
    text-align: center;
    text-decoration: none;
    font-size: 1.25em;

    padding: 10px 1em;
    border-bottom: solid 1px var(--color-red);
}

#info{
    padding: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 80%;
}

#profile_img {
    width: 250px;
    height: 250px;

    background-image: none;
    background-position: center;
    background-size: cover;
    
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.fields {
    align-self: center; 
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fields > p {
    width: 15em;
    overflow: hidden;

    margin: 5px 0;
    padding: 0.5em;
    border: none;

    font-size: 1.5em;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
    color: var(--color-grey);
    border-bottom: solid 1px var(--color-red);
    border-left: solid 1px var(--color-red);
    border-right: solid 1px var(--color-red);
}

.fields .error, .fields .success {
    width: 100%;

    margin: 1em 0;
    padding: 0.5em;
}

.fields > p:nth-child(1) {
    text-transform: uppercase;
}

.fields input[type="file"] {
    display: none;
}

.fields input{
    border: solid 1px rgba(0, 0, 0, 0.301);
}

#MyHouses, #MyReservations{
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}


@media only screen and (max-width: 800px) {
    #main{
        flex-direction: column;
    }

    #sidebar > a {
        font-size: 1em;
    }

    .fields > p {
        width: 75vw;
        font-size: 1.25em;
    }

    .fields .error, .fields .success {
        width: 75%;
    
        margin: 1em 0;
        padding: 0.5em;
    }
}
