html , body{
    height: 100%;
    margin: 0;
}

body {
    --color-grey: rgb(61, 60, 83);
    --color-grey-text: rgb(136, 136, 153);
    --color-red: rgb(237, 61, 61);
    --color-message-green: rgb(181, 255, 179);
    --color-message-red: rgb(255, 181, 181);

    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
}

#mainHeader, #secondaryHeader{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
    height: 3em;
}

#mainHeader{
    background-color: white;
    border-bottom: solid 1px var(--color-grey);
}
#secondaryHeader{
    background-color: var(--color-grey);
    border-bottom: solid 2px var(--color-red);
}

#mainHeader ul, #secondaryHeader ul{
    margin:0;
    padding: 0;
    display: flex;
    flex-basis: 54%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#mainHeader li, #secondaryHeader li{
    display: inline;
    list-style-type: none;
}

#mainHeader #logo, #secondaryHeader #logo{
    display:flex;
    flex-basis: 100%;
    justify-content: flex-start;
}

#mainHeader a, #secondaryHeader a{
    padding: 0.5em;
}

#secondaryHeader img{
    height: 2em;
}
#mainHeader img{
    height: 2em;
}
#mainHeader #logo img{
    height: 4em;
}

#footer{
    margin-top: auto;
    padding: 0.7em;

    font-size: small;
    text-align: center;
    color: white;
    background-color: var(--color-grey);
}
